<div class="container"  >
    <h2 class="mt-5 mb-5">Istorija polaganja</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th (click)="sort('predmet.naziv')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i> 
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>Naziv predmeta</th>
            <th (click)="sort('predmet.profesor.ime')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Nastavnik</th>
              <th (click)="sort('predmet.datumPolaganja')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i> 
                <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>Datum polaganja</th>
                <th (click)="sort('bodoviTeorija')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i> 
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Bodovi</th>
                  <th (click)="sort('ocena')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i> 
                    <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Ocena</th>
                    <th (click)="sort('ispitniRok.nazivRoka')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i> 
                      <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Ispitni rok</th>
          </tr>

          <tr class="form-group">
            <th colspan="3">
              <input type="text" placeholder="Pretraga po nazivu predmeta i nastavniku" class="form-control"
              [(ngModel)]="searchTerm">
            </th>
            <th colspan="4">
              <input type="text" placeholder="Pretraga po oceni i ispitnom roku" class="form-control"
              [(ngModel)]="searchTerm2">
            </th>
            
            </tr>

        </thead>
        <tbody *ngFor="let ispit of istorijaPolaganja|ispitSortBy:this.order:this.field | istorijaFilter:searchTerm:searchTerm2; index as i">
          <tr>
            <td>{{i+1}}</td><td>{{ispit.predmet.naziv}}</td>
            <td *ngIf="ispit.predmet.profesor !== undefined && ispit.predmet.profesor !== null;else elseBlock">{{ispit.predmet.profesor.ime}} {{ispit.predmet.profesor.prezime}}</td>
              <ng-template #elseBlock>
                <td>/</td>
              </ng-template>
            <td>{{ispit.datumPolaganja}}</td><td>{{ispit.bodoviTeorija + ispit.bodoviVezbe}}</td><td>{{ispit.ocena}}</td><td>{{ispit.ispitniRok.nazivRoka}}</td>
          </tr>
        </tbody>
      </table>
</div>