<div class="container"  >
    <h2 class="mt-5 mb-5">Istorija polaganja</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Naziv predmeta</th>
            <th>Nastavnik</th>
            <th>Datum polaganja</th>
            <th>Bodovi</th>
            <th>Ocena</th>
          </tr>
        </thead>
        <tbody *ngFor="let ispit of istorijaPolaganja; index as i">
          <tr>
            <td>{{i+1}}</td><td>{{ispit.predmet.naziv}}</td>
            <td *ngIf="ispit.predmet.profesor !== undefined && ispit.predmet.profesor !== null;else elseBlock">{{ispit.predmet.profesor.ime}} {{ispit.predmet.profesor.prezime}}</td>
              <ng-template #elseBlock>
                <td>/</td>
              </ng-template>
            <td>{{ispit.datumPolaganja}}</td><td>{{ispit.bodoviTeorija + ispit.bodoviVezbe}}</td><td>{{ispit.ocena}}</td>
          </tr>
        </tbody>
      </table>
</div>