<div class="container-fluid" *ngIf="this._korisnikService.getRole()==='ROLE_ADMIN'">
   
    <h4 class="mt-5 mb-3" *ngIf="this.addEditParam === 'add'">Dodavanje novog ucenika</h4>
    <h4 class="mt-5 mb-3" *ngIf="this.addEditParam !== 'add'">Podaci ucenika</h4>
    <form [formGroup]="addEditForm" class="w-25">

        <div class="form-group">
            <label>Korisnicko ime</label>
            <input formControlName="korisnickoIme" type="text" class="form-control">
            <small [class.d-none]="korisnickoIme.valid || korisnickoIme.untouched" class="text-danger">Ime je obavezno!</small> 
        </div>

        <div class="form-group">
            <label>Lozinka</label>
            <input formControlName="lozinka" type="password" class="form-control">
            <small [class.d-none]="lozinka.valid || lozinka.untouched" class="text-danger">Lozinka je obavezna!</small> 
        </div>

        <div class="form-group">
            <label>Uloga</label>
            <input formControlName="uloge" type="text" class="form-control">
            <small [class.d-none]="uloge.valid || uloge.untouched" class="text-danger">Uloga je obavezna!</small> 
        </div> 

        <div class="form-group" *ngIf="this.korisnik.uloga === 'ROLE_KORISNIK' && this.korisnik !== undefined">
            <label>Ime</label>
            <input formControlName="ime" type="text" class="form-control">
            <small [class.d-none]="ime.valid || ime.untouched" class="text-danger">Uloga je obavezna!</small> 
        </div>

        <div class="form-group" *ngIf="this.korisnik.uloga === 'ROLE_KORISNIK' && this.korisnik !== undefined">
            <label>Prezime</label>
            <input formControlName="prezime" type="text" class="form-control">
            <small [class.d-none]="prezime.valid || prezime.untouched" class="text-danger">Uloga je obavezna!</small> 
        </div>
    </form>
    <button (click)="submitKorisnik()" class="btn btn-primary" [disabled]="addEditForm.invalid" type="submit">Izmeni</button>
        <button class="btn btn-primary" (click)="goBackToKorisnici()">Back</button>
        <!-- <h4 class="mt-5 mb-3">Izmena podataka korisnika</h4>
        <form [formGroup]="korisnikForm" (ngSubmit)="izmenaKorisnika()">
            <div class="form-group">
                <label>Korisnicko ime</label>
                <input [class.is-invalid]="korisnickoIme.invalid &&
                korisnickoIme.touched" formControlName="korisnickoIme" type="text" class="form-control">
                <small [class.d-none]="korisnickoIme.valid
                || korisnickoIme.untouched" class="text-danger">Korisnicko ime je obavezno!</small>
            </div>

            <button class="btn btn-primary" type="submit">Izmeni</button>
        </form> -->

    
</div>  

