<div class="container">
    <h2 class="mt-5 mb-5">Svi korisnici<a class="btn btn-sm text-white btn-success ml-3" (click)="navigateToAddKorisnik()">Dodaj novog korisnika</a></h2>
    <!-- w-25,75,50.. klasa za width tabele  -->
    <table class="table table-hover w-75">
        <thead>
          <tr>
            <th >#</th>
            <th (click)="sort('korisnickoIme')">
              <i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Korisnicko ime
            </th>
            <th (click)="sort('uloga')">
              <i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Uloga</th>
            <th> 
              <i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Info</th>
            <th>
              <i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Brisanje</th>
          </tr>
          <tr class="form-group">
            <th colspan="3">
              <input type="text" placeholder="Pretraga po korisnickom imenu i ulozi korisnika" class="form-control"
              [(ngModel)]="searchTerm">
            </th>
            </tr>
        </thead>
        <tbody *ngFor="let kor of korisnici| sortBy:this.order:this.field | korFilter:searchTerm; index as i">

          <tr>
            <td>{{i+1}}</td>
            <td>{{kor.korisnickoIme}}</td>
            <td *ngIf="kor.uloga==='ROLE_ADMIN';else elseBlock">ADMIN</td>
            <ng-template #elseBlock>
                <td>KORISNIK</td>
            </ng-template>
            <td><a class="btn btn-sm text-white btn-primary" (click)="detaljiKorisnika(kor)">Detalji</a></td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="deleteKorisnik(kor.id)">Izbrisi</a></td>
        </tr>
        </tbody>
      </table>
</div>