<div class="container" *ngIf="this._korisnikService.getRole()==='ROLE_ADMIN'">
  <h2 class="mt-5 mb-5">Svi ucenici<a class="btn btn-sm text-white btn-success ml-3" (click)="navigateToAddUcenik()">Dodaj novog ucenika</a></h2>

    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Index</th>
            <th>Godina upisa</th>
            <th>Godina studija</th>
            <th>Smer</th>
            <th>Detalji</th>
            <th>Brisanje</th>
          </tr>
        </thead>
        <tbody *ngFor="let ucenik of ucenici; index as i">
          <tr>
            <td>{{i+1}}</td><td>{{ucenik.ime}}</td><td>{{ucenik.prezime}}</td><td>{{ucenik.index}}</td>
            <td>{{ucenik.godinaUpisa}}</td><td>{{ucenik.godinaStudija}}</td><td>{{ucenik.smer.naziv}}</td>
            <td><a class="btn btn-sm text-white btn-primary" (click)="detaljiUcenika(ucenik)">Detalji</a></td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="deleteUcenik(ucenik.id)">Izbrisi</a></td>
          </tr>
        </tbody>
      </table>
</div>

