<div class="container-fluid w-25">
    <h4 class="mt-5 mb-3">Dodavanje novog nastavnika</h4>
    <form [formGroup]="addForm" (ngSubmit)="addNastavnik()">
        <div class="form-group">
            <label>Ime</label>
            <input formControlName="ime" type="text" class="form-control">
            <small [class.d-none]="ime.valid || ime.untouched" class="text-danger">Ime je obavezno!</small> 
        </div>
        <div class="form-group">
          <label>Prezime</label>
          <input formControlName="prezime" type="text" class="form-control">
          <small [class.d-none]="prezime.valid || prezime.untouched" class="text-danger">Prezime je obavezno!</small> 
      </div>
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" type="text" class="form-control">
        <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email je obavezan i mora biti u ispravnom formatu!</small>
        <small *ngIf="emailExists" class="text-danger">Uneti email je zauzet!</small>
    </div>
        <div class="form-group">
            <label class="control-label">Uloga</label>
            <select class="form-control" formControlName="uloge" (change)="chosenUloga()">
                <option [ngValue]="null" disabled>Izaberite ulogu</option>
                <option *ngFor="let uloga of ulogeArray" [ngValue]="uloga">
                  {{ uloga }}
                </option>
              </select> 
        </div>
        <button class="btn btn-primary" [disabled]="addForm.invalid || emailExists || !ulogaChosen" type="submit">Dodaj</button>
    </form>
  </div>