<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mb-5">
      <div class="card text-center">
        <div class="card-body">
          <a class="btn btn-primary" (click)="prikazKorisnika()">Korisnici</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card text-center">
          <div class="card-body">
            <a class="btn btn-primary" (click)="prikazNastavnika()">Nastavnici</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">
          <div class="card-body">
            <a class="btn btn-primary" (click)="prikazUcenika()">Ucenici</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">
          <div class="card-body">
            <a class="btn btn-primary" (click)="prikazSmerova()">Smerovi</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">
          <div class="card-body">
            <a class="btn btn-primary" (click)="prikazPredmeta()">Predmeti</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">
          <div class="card-body">
            <a class="btn btn-primary" (click)="prikazRokova()">Ispitni rokovi</a>
          </div>
        </div>
      </div>
  </div>
</div>

