<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mb-5">
      <div class="card text-center">
          <button class="btn" (click)="prikazKorisnika()"><i class="fa fa-users"></i> Korisnici</button>
      </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card text-center">

          <button class="btn" (click)="prikazNastavnika()"><i class="fa fa-certificate"></i> Nastavnici</button>

        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">

          <button class="btn" (click)="prikazUcenika()"><i class="fa fa-graduation-cap"></i> Ucenici</button>

        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">

          <button class="btn" (click)="prikazSmerova()"><i class="fa fa-university"></i> Korisnici</button>

        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">

          <button class="btn" (click)="prikazPredmeta()"><i class="fa fa-book"></i> Predmeti</button>

        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card text-center">

          <button class="btn" (click)="prikazRokova()"><i class="fa fa-calendar-check-o"></i>Rokovi</button>

        </div>
      </div>
  </div>
</div>
