<div class="container-fluid" *ngIf="this.korisnikService.getRole()==='ROLE_ADMIN'">
   
    <h4 class="mt-5 mb-3">Informacije o smeru</h4>
    <div *ngIf="smer != undefined">
        <div class="bg-dark w-50">
            <h5 class="text-white p-1">Naziv: <span class="label label-default">{{smer.naziv}}</span></h5>
            <h5 *ngIf="smer.nastavnik.id != 0 && smer.nastavnik.ime != null;else elseBlock" class="text-white p-1">Sef katedre: <span class="label label-default">
                {{smer.nastavnik.ime}} {{smer.nastavnik.prezime}}</span></h5>
            <ng-template #elseBlock>
                <h5 class="text-white p-1">Sef katedre: <span class="label label-default">/</span></h5>
              </ng-template>
        </div>
        <button class="btn btn-primary" >Back</button>
        
    </div> 

</div>  
