<div class="divv">
<div class="container-fluid">
    <h4 class="mt-5 mb-3" *ngIf="this.addOrId === 'add'">Dodavanje novog smera</h4>
    <h4 class="mt-5 mb-3" *ngIf="this.addOrId !== 'add'">Podaci smera</h4>
    <form [formGroup]="addEditForm" class="w-25">
        <div class="form-group">
            <label>Naziv smera</label>
            <input formControlName="naziv" type="text" class="form-control">
            <small [class.d-none]="naziv.valid || naziv.untouched" class="text-danger">Naziv smera je obavezan!</small>
        </div>
        <div class="form-group">
            <label>Oznaka smera</label>
            <input formControlName="oznakaSmera" type="text" class="form-control">
            <small [class.d-none]="oznakaSmera.valid || oznakaSmera.untouched" class="text-danger">Oznaka smera se mora sastojati od 2 slova!</small>
        </div>
        <div class="form-group">
            <label>Broj ECTS bodova</label>
            <input formControlName="bodovi" type="text" class="form-control">
            <small [class.d-none]="bodovi.valid || bodovi.untouched" class="text-danger">Molimo vas unesite BROJ bodova!</small>
        </div>
        <div class="form-group" *ngIf="this.addOrId !== 'add' && sefKatedre.value !== 'null null'">
            <label>Aktivni set katedre</label>
            <input formControlName="sefKatedre" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">Novi sef katedre</label>
            <select class="form-control" formControlName="nastavnikPodaci">
                <option [ngValue]="null" disabled>Izaberite nastavnika</option>
                <option *ngFor="let nastavnik of nastavniciStr" [ngValue]="nastavnik">
                 {{ nastavnik }}
                </option>
              </select> 
        </div>
        <button *ngIf="this.addOrId === 'add'" (click)="addSmer('add')" class="btn btn-primary" [disabled]="addEditForm.invalid" type="submit">Dodaj</button>
        <button *ngIf="this.addOrId !== 'add'" (click)="addSmer('edit')" class="btn btn-primary" [disabled]="addEditForm.invalid" type="submit">Izmeni</button>
    </form>
    <div class="container-fluid" *ngIf="smer != undefined">
        <h2 class="mt-3">Predmeti smera</h2>
        <table class="table table-hover w-50">
            <thead>
                <tr>
                <th>#</th>
                <th>Naziv predmeta</th>
                <th>Oznaka smera</th>
                <th *ngIf="this.korisnikService.getRole()==='ROLE_ADMIN'">Info</th>
                </tr>
            </thead>
            <tbody *ngFor="let predmet of smer.predmeti; index as i">
                <tr>
                <td>{{i+1}}</td><td>{{predmet.naziv}}</td><td>{{predmet.smer.oznakaSmera}}</td>
                <td *ngIf="this.korisnikService.getRole()==='ROLE_ADMIN'" ><a class="btn btn-sm text-white btn-primary" (click)="detalji(predmet)">Detalji</a></td>
                </tr>
            </tbody>
            </table>
    </div>
</div>
</div>
