<div class="container" *ngIf="ispitniRokUtoku">
  <h3 class="mt-5">Ispitni rok: {{ispitniRok.nazivRoka}}  </h3>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="col">Izaberi</th>
              <th scope="col">Naziv predmeta</th>
              <th scope="col">Profesor</th>
              <th scope="col">Datum odrzavanja ispita</th>
            </tr>
          </thead>
          <tbody *ngFor="let predmet of nepolozeniPredmeti; index as i">
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"  id="{{i + 1}}">
                    <label class="custom-control-label" for="{{i + 1}}"></label>
                </div>
              </td>
              <td>{{predmet.naziv}}</td>
              <td *ngIf="predmet.profesor !== undefined && predmet.profesor !== null;else elseBlock">{{predmet.profesor.ime}} {{predmet.profesor.prezime}}</td>
              <ng-template #elseBlock>
                <td>/</td>
              </ng-template>
              <td>{{predmet.datumPolaganja}}</td>
            </tr>
          </tbody>
        </table>
        <button style="margin-right: 16cm;" type="button" class="btn btn-primary btn-lg">Prijavi</button>
        Ukupna cena: <input type="text" value="{{ukCena}}" disabled>
      </div>
    </div>
  </div>
  <div *ngIf="!ispitniRokUtoku && ispitniRokUtoku !== undefined">
    <h1>Trenutno nije aktivan nijedan ispitni rok!</h1>
  </div>