<nav id="navnav" class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="korisnikService.loggedIn() && router.url !== '/login'">
    <a class="navbar-brand" >Fakultet Tehnickih Nauka</a>
    
    <div *ngIf="korisnikService.getRole() === 'ROLE_ADMIN'" class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" style="cursor:pointer" routerLink="/admin" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i> Pocetna</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/korisnici" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"></i> Korisnici</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/nastavnici" routerLinkActive="active">
          <i class="fa fa-certificate" aria-hidden="true"></i> Nastavnici</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/ucenici" routerLinkActive="active">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> Ucenici</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/smerovi" routerLinkActive="active">
          <i class="fa fa-university" aria-hidden="true"></i> Smerovi</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/predmeti" routerLinkActive="active">
          <i class="fa fa-book" aria-hidden="true"></i> Predmeti</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/ispitniRokovi" routerLinkActive="active">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Rokovi</a>        
      </ul> 
      
      <ul class="navbar-nav">
          <a class="nav-link" style="cursor:pointer" (click)="korisnikService.logout()">
          <i class="fa fa-sign-out ml-5" aria-hidden="true"></i> Logout</a>          
      </ul>
    </div>

    <div *ngIf="korisnikService.getRole() === 'ROLE_UCENIK'" class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" style="cursor:pointer" routerLink="/ucenik" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i> Pocetna</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/profil-ucenik" routerLinkActive="active">
          <i class="fa fa-user" aria-hidden="true"></i> Profil</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/finansijska-kartica" routerLinkActive="active">
          <i class="fa fa-credit-card" aria-hidden="true"></i> Finansijska kartica</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/polozeni-ispiti" routerLinkActive="active">
          <i class="fa fa-check" aria-hidden="true"></i> Polozeni predmeti</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/nepolozeni-ispiti" routerLinkActive="active">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Nepolozeni predmeti</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/prijava-ispita" routerLinkActive="active">
          <i class="fa fa-book" aria-hidden="true"></i> Prijava ispita</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/istorija-polaganja" routerLinkActive="active">
          <i class="fa fa-history" aria-hidden="true"></i> Istorija polaganja</a>        
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/spisak-uplata" routerLinkActive="active">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Uplate</a>        
      </ul> 
      <ul class="navbar-nav">
          <a class="nav-link" style="cursor:pointer" (click)="korisnikService.logout()">
          <i class="fa fa-sign-out ml-5" aria-hidden="true"></i> Logout</a>          
      </ul>
    </div>
<!--|| roleUlogovanog === "ROLE_ASISTENT" || roleUlogovanog === "ROLE_DEMONSTRATOR"-->
    <div *ngIf="korisnikService.getRole() === 'ROLE_NASTAVNIK' || korisnikService.getRole() === 'ROLE_ASISTENT' || korisnikService.getRole() === 'ROLE_DEMONSTRATOR'" class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" style="cursor:pointer" routerLink="/nastavnik" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i> Pocetna</a>        
      </ul> 
      
      <ul *ngIf="korisnikService.getRole() === 'ROLE_NASTAVNIK'" class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/ispit-upis" routerLinkActive="active">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Ispit ocene</a>        
      </ul> 
      <ul *ngIf="korisnikService.getRole() === 'ROLE_ASISTENT'" class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" routerLink="/kolokvijum-upis" routerLinkActive="active">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Kolokvijum ocene</a>        
      </ul> 
      <ul class="navbar-nav">
          <a class="nav-link" style="cursor:pointer" (click)="korisnikService.logout()">
          <i class="fa fa-sign-out ml-5" aria-hidden="true"></i> Logout</a>          
      </ul>
    </div>
  </nav>  
  
  <router-outlet></router-outlet>
