<div class="sviDiv">
    <div class="container-fluid">
        <h2 class="mt-5 mb-3">Informacije o nastavniku</h2>
        <form class="w-50" [formGroup]="editForm">
            <div class="form-group" >
                <label>Ime</label>
                <input  formControlName="ime" type="text" class="form-control" >
                <small [class.d-none]="ime.valid || ime.untouched" class="text-danger">Ime je obavezno!</small>
            </div>
            <div class="form-group">
              <label>Prezime</label>
              <input formControlName="prezime" type="text" class="form-control" >
              <small [class.d-none]="prezime.valid || prezime.untouched" class="text-danger">Prezime je obavezno!</small>
          </div>
          <div class="form-group" >
            <label>Lozinka</label>
            <input  formControlName="lozinka" type="password" class="form-control" >
        </div>
        <div class="form-group" >
            <label>Ponovite lozinku</label>
            <input  formControlName="lozinkaPonovljena" type="password" class="form-control" >
        </div>
          <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="text" class="form-control" >
            <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email je obavezan i mora biti u ispravnom formatu!</small>
            <small *ngIf="emailExists" class="text-danger" >Uneti email je zauzet!</small>
        </div>
            <div class="form-group">
                <label class="control-label">Uloga</label>
                <select class="form-control" formControlName="uloga" >
                    <option [value]="null" disabled>Izaberite ulogu</option>
                    <option *ngFor="let ul of ulogeArray" [value]="ul">
                      {{ ul }}
                    </option>
                  </select> 
            </div>
            <div class="form-group" *ngIf="hasKorAcc">
                <label class="control-label">Korisnicko ime:</label>
                <input formControlName="korisnik" type="text" class="form-control">
            </div>
            <div class="form-group" *ngIf="isSefSmera">
                <label class="control-label">Sef smera:</label>
                <input formControlName="smer" type="text" class="form-control">
            </div>
            <button class="btn btn-primary mt-1" [disabled]="editForm.invalid || emailExists" (click)="editNastavnik()" type="submit">Sazuvaj izmene</button>
        </form>

        <!--druga forma-->
    <div *ngIf="this.id !== 'add' && this.korisnikService.getRole()==='ROLE_ADMIN'">
        <h1 class="mt-5 mb-3">Dodavanje predmeta nastavniku</h1>
        <form class="w-50" [formGroup]="addPredmetForm">
            <div class="form-group">
                <label class="control-label">Smer</label>
                <select class="form-control" formControlName="smerovi">
                    <option [value]="null" disabled>Izaberite smer</option>
                    <option *ngFor="let smer of smeroviArray" [ngValue]="smer" >
                      {{smer.naziv}}, {{smer.oznakaSmera}}
                    </option>
                  </select> 
            </div>
            <div class="form-group">
                <label class="control-label">Predmet</label>
                <select class="form-control" formControlName="predmeti" >
                    <option [value]="null" disabled>Izaberite predmet</option>
                    <option *ngFor="let pred of predmetiArray" [ngValue]="pred">
                        {{pred.naziv}}, {{pred.brojECTSBodova}}
                    </option>
                  </select> 
            </div>
    
            <div class="row">
                <button class="btn btn-primary col-sm-1 ml-3 mt-1" [disabled]="addPredmetForm.invalid || !smerSelected || !predmetSelected" (click)="addPredmet()" type="submit">Izaberi</button>
                <button class="btn btn-danger col-sm-1 ml-3 mt-1" [disabled]="addPredmetForm.invalid || !smerSelected || !predmetSelected" (click)="removePredmet()"  type="submit">Ukloni</button>   
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Dodati predmeti:</label>
                <input formControlName="dodatiPredmeti" type="text" class="form-control">
            </div>
            <button (click)="submitPredmete()" class="btn btn-primary" [disabled]="addPredmetForm.invalid || !smerSelected || !predmetSelected" type="submit">Dodaj predmete</button>
        </form>
    </div>
      
    <div class="container-fluid" *ngIf="nastavnik != undefined">
        <h2 class="mt-5 mb-5">Predmeti koje predaje</h2>
        <table class="table table-hover w-50">
            <thead>
                <tr>
                <th>#</th>
                <th>Naziv predmeta</th>
                <th>Oznaka smera</th>
                <th *ngIf="this.korisnikService.getRole()==='ROLE_ADMIN'">Info</th>
                </tr>
            </thead>
            <tbody *ngFor="let predmet of nastavnik.predaje; index as i">
                <tr>
                <td>{{i+1}}</td><td>{{predmet.naziv}}</td><td>{{predmet.smer.oznakaSmera}}</td>
                <td *ngIf="this.korisnikService.getRole()==='ROLE_ADMIN'" ><a class="btn btn-sm text-white btn-primary" (click)="detalji(predmet)">Detalji</a></td>
                </tr>
            </tbody>
            </table>
    </div>
    
</div>
