<div class="container">
  <div *ngIf="korisnik != undefined">
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
              <div class="container" style="border-bottom:1px solid black">
                <h2 >{{korisnik.ucenik.ime}} {{korisnik.ucenik.prezime}}</h2>
              </div>
                <hr>
              <ul class="container details">
                <li><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>Godina studija : {{korisnik.ucenik.godinaStudija}}</li>
                <li><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>Godina upisa : {{korisnik.ucenik.godinaUpisa}}</li>
                <li><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Smer : {{korisnik.ucenik.smer.naziv}}</li>
                <li><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span>Index : {{korisnik.ucenik.index}}</li>
                <li><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>Adresa : {{korisnik.ucenik.adresa}}</li>
                <li><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>Datum rodjenja : {{korisnik.ucenik.datumRodjenja}}</li>
                <li><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Drzava rodjenja : {{korisnik.ucenik.drzavaRodjenja}}</li>
                <li><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Mesto rodjenja : {{korisnik.ucenik.mestoRodjenja}}</li>
                <li><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span>Email : {{korisnik.ucenik.email}}</li>
                <li><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>Pol : {{korisnik.ucenik.pol}}</li>
              </ul>
          </div>
      </div>
  </div>
  <div>
    <form class="w-50" [formGroup]="editForm">
    <h3>Promena lozinke</h3>
    <div class="form-group">
    <label>Lozinka</label>
    <input formControlName="lozinka" type="password" class="form-control" (keyup)="onKey($event)">
    </div>
    <div class="form-group">
      <label>Ponovite lozinku</label>
      <input formControlName="lozinkaPonovljena" type="password" class="form-control" >
      </div>
      <button style="margin-bottom: 3cm;" class="btn btn-primary mt-1" [disabled]="!cekiran" (click)="updatePassword()" type="submit">Sazuvaj izmene</button>
    </form>
  </div>

    </div>